<% provide(:tittle, "拠点一覧")%>
<h1>拠点一覧</h1>
<div>
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th class="col-md-3"></th>
        <th class="col-md-2"></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
      </tr>  
    </thead>
    <tbody>
      <tr>
        <td colspan="4"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="add_base">
  <div class="box">
    <%= link_to "拠点情報追加", "#", class: "btn btn-primary btn-lg" %></td>    
  </div>
</div>