<% provide(:title, "出勤中社員一覧") %>
<h1>出勤中社員一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover text-center" id="index_attendance">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>  
    </thead>
    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>
</div>
