<% provide(:title, "ユーザ一覧") %>

  <h1>ユーザ一覧</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= form_tag "#", multipart: true do %>
        <%= file_field_tag :file %>
        <%= link_to "CSVをインポート", "#", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>