/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}


/* 勤怠画面上長タグ*/ 
.superior_tag {
  color: #333333;
}

a.superior_tag:hover {
  color: #9d9d9d;
  text-decoration: none;
}

/* ユーザ一覧 */
.csv_holder {
  width: 30rem;
}

.search_item {
  margin-bottom: 10px;
}

.btn-delete {
  margin-left: 5px;
}

.edit-csv {
  padding: 10px 20px;
  background-color: #eeeeee;
  margin-bottom: 10px;
}

.file-csv {
    margin-bottom: 10px;
}

.w-10 {
  width: 10%;
}


/* アコーディオン */ 
.form-control {
  margin-bottom: 10px;
}


/* 拠点情報一覧 */ 



/* 出勤社員一覧 */
#index_attendance {
  th{
  vertical-align: middle;
  text-align: center;
  }
}


/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}



/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}


/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}


/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.btn-user--serch {
  margin-top: 5px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}


/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}