<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <%= form_with(model: @att_update_lists, url: update_change_attendance_user_attendance_path(@user, @att_up), local: true, method: :patch) do |f| %>
      <% @users.each do |user| %>
      <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
        <thead>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title text-center">【<%= user.name %>】からの勤怠変更申請</h3>
          </div>
        </thead>
      </table>
      <% end %>
    <% end %>
  </div>
</div>
